{
  "$schema": "http://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-tailwindcss"],
  "arrowParens": "always",
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2
}
