---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="flex flex-col justify-center flex-1">
    <div class="max-w-md">
      <h1 class="py-4 text-5xl font-bold text-primary">404</h1>
      <p class="py-2 font-semibold">
        Ooops... that page can't be found.
      </p>
      <p class="py-2 mb-4">
        Well, that's a bummer... but I promise you there are plenty of
        other cool stuff available!
      </p>
      <a href="/">
        <div class="w-40 text-xs btn btn-primary">Go back to home</div>
      </a>
    </div>
  </div>
</Layout>