---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="flex flex-col flex-1 justify-center">
    <div class="max-w-md">
      <h1 class="py-4 text-5xl font-bold text-primary">404</h1>
      <p class="py-2 font-semibold">
        Ooops... that page can&apos;t be found.
      </p>
      <p class="py-2 mb-4">
        Well, that&apos;s a bummer... but I trust you there are plenty of
        other cool stuff available!
      </p>
      <a href="/">
        <div class="btn btn-primary w-40 text-xs">Go back to home</div>
      </a>
    </div>
  </div>
</Layout>