---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Julius Marminge - Home">
  <div class="flex-1 hero bg-base-200 rounded-box">
    <div class="flex-col max-w-3xl hero-content lg:flex-row-reverse">
      <div class="avatar">
        <div class="w-56 mask mask-squircle">
          <img src="/images/profile.png" class="max-w-sm rounded-lg shadow-2xl" alt="profile pic" />
        </div>
      </div>

      <div>
        <h1 class="text-5xl font-bold">Julius Marminge</h1>
        <h2 class="py-2 font-semibold">
          Software Engineering student @ BTH - Sweden
        </h2>
        <p class="py-6">Passionate about tech, especially new one.</p>
      </div>
    </div>
  </div>
</Layout>