---

---

<footer class="pb-10 footer">
  <div>
    <span class="footer-title">Learn More</span>
    <a href="/about" class="link link-hover">Get to know me!</a>
    <a href="/projects" class="link link-hover">Take a look at my projects!</a>
    <a href="/setup" class="link link-hover">What setup do I use?</a>
  </div>
  <div>
    <span class="footer-title">Social</span>
    <a href="https://github.com/juliusmarminge" class="link link-hover">Github</a>
    <a href="https://twitter.com/jullerino" class="link link-hover">Twitter</a>
    <a href="https://discordapp.com/users/julius#3394" class="link link-hover">Discord</a>
  </div>
</footer>