---
import MoonIcon from "./icons/Moon.astro";
import SunIcon from "./icons/Sun.astro";

const DARK_THEME = "night";
const LIGHT_THEME = "emerald";

const tabs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Blog",
    href: "/blog",
  },
  {
    name: "Projects",
    href: "/projects",
  },
];
---

<div class="flex items-center justify-between w-full">
  <div class="justify-center my-4 tabs w-max gap-5">
    <a href="/" class="tab tab-bordered">
      Home
    </a>
    <a href="/about" class="tab tab-bordered">
      About
    </a>
    <a href="/blog" class="tab tab-bordered">
      Blog
    </a>
    <a href="/projects" class="tab tab-bordered">
      Projects
    </a>
  </div>

  <div class={"flex justify-end items-center gap-4"}>
    <label class="items-center swap swap-rotate">
      <input id="theme-checkbox" type="checkbox" />

      <SunIcon class="w-8 h-8 stroke-current swap-off" />
      <MoonIcon class="w-8 h-8 stroke-current swap-on" />
    </label>
  </div>
</div>

<script defer>
  const setTheme = (e) => {
    console.log("setTheme", e);
    if (e.target.checked) {
      window.document.documentElement.setAttribute("data-theme", "night");
      localStorage.removeItem("prefersLightTheme");
    } else {
      window.document.documentElement.setAttribute("data-theme", "emerald");
      localStorage.setItem("prefersLightTheme", "true");
    }
  };

  // set theme on checkbox change
  const themeCheckbox = document.getElementById("theme-checkbox");
  themeCheckbox.addEventListener("change", setTheme);

  // get the current theme from localStorage on page-load
  const prefersLight = localStorage.getItem("prefersLightTheme");
  if (prefersLight !== null) {
    window.document.documentElement.setAttribute("data-theme", "emerald");
    themeCheckbox.checked = false;
  } else {
    window.document.documentElement.setAttribute("data-theme", "night");
    themeCheckbox.checked = true;
  }


</script>