.rehype-code-title {
  @apply rounded-t-lg bg-stone-700/50 px-5 py-3 text-sm text-stone-300;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.prose pre {
  @apply rounded-b-lg border-2 border-stone-700/50 bg-stone-900/50;
}

.prose code {
  @apply rounded-lg border border-stone-700/50 bg-stone-900/50 px-1 py-0.5 font-mono text-stone-300;
}

.prose pre code {
  @apply border-0 bg-transparent p-0 text-stone-300;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
pre::-webkit-scrollbar {
  display: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-stone-300;
}

.token.punctuation {
  @apply text-stone-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-stone-300;
}
