@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-disabled-tooltip {
    @apply relative inline-block;
  }
  .btn-disabled-tooltip:disabled:hover::after {
    @apply absolute top-0 left-full z-10 w-[15ch] rounded-lg bg-stone-600 px-2 py-1;
    content: attr(title);
  }

  pre > code {
    counter-reset: line;
    padding: unset !important;
  }

  pre > code > .line::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  [data-rehype-pretty-code-fragment] {
    @apply relative;
  }

  [data-rehype-pretty-code-title] {
    padding: 0.75rem 0 0.75rem 2.5rem;
    @apply mt-4 rounded-t-lg border border-b-0 border-zinc-400 bg-zinc-100 font-cal text-zinc-900 dark:bg-stone-700 dark:text-zinc-400;
  }

  [data-rehype-pretty-code-title]:has(+ [data-language-icon]) {
    @apply pl-12;
  }

  [data-rehype-pretty-code-title] ~ [data-language-icon] {
    @apply block;
  }

  [data-rehype-pretty-code-title] ~ pre {
    @apply mt-0 rounded-t-none;
  }
}
